.produtos-th-moda {
    background-color: #bb86fc;
    color: #ffffff;
    height: 2em;
}


.produtos-th-casa {
    background-color: #00c4b4;
    color: #ffffff;
    height: 2em;
}


.dados {
    background-color: #424250;
    color: #ffffff;
    height: 2em;
}