.produtos-moda-th {
    background-color: #bb86fc;
    color: #ffffff;
    height: 2em;
}

.produtos-moda-td {
    background-color: #424250 ;
    color: #ffffff;
    height: 2em;
}


.produtos-casa-th {
    background-color: #00c4b4;
    color: #ffffff;
    height: 2em;
}


.produtos-casa-td {
    background-color: #424250;
    color: #ffffff;
    height: 2em;
}